body {
  background: hsla(221, 80%, 96%, 1);

  background: radial-gradient(circle, hsla(221, 80%, 96%, 1) 62%, hsla(188, 74%, 58%, 1) 75%, hsla(236, 67%, 55%, 1) 100%);
  
  background: -moz-radial-gradient(circle, hsla(221, 80%, 96%, 1) 62%, hsla(188, 74%, 58%, 1) 75%, hsla(236, 67%, 55%, 1) 100%);
  
  background: -webkit-radial-gradient(circle, hsla(221, 80%, 96%, 1) 62%, hsla(188, 74%, 58%, 1) 75%, hsla(236, 67%, 55%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EDF2FD", endColorstr="#45CEE3", GradientType=1 );
  font-family: 'Oxanium', cursive;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Unica One', cursive;
margin: 20px;
height: 100vh;
display: flex;
flex-direction: column;
text-align: center;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 7vmin;
  margin: 200px, 0, 0, 0;
  padding: 100px, 0, 0, 0;
  color: #2A4747;
  animation: shadow-pop-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    transform: translateX(-8px) translateY(8px);
  }
}

h2 {
  font-family: 'Unica One', cursive;
  font-size: 6vmin;
  margin: 0, 0, 20px, 0;
  color: #61D095;
  animation: shadow-pop-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

button {
  border-radius: 8px;
  width: 9%;
  font-size: 3vmin;
  align-self: center;
  margin: 20px;
  transition-duration: 0.3s;
  background-color: rgb(219, 254, 255);
  animation: shadow-pop-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}
button:hover {
  background-color: #318f92;
  color: white;
}



	/* Use a system font, if none are available use an available sans-sarif   font */

section.board {
  display: grid;
  grid-template-rows: repeat(3, 15vmin);
  grid-template-columns: repeat(3, 15vmin);
  grid-gap: 0vmin;
  align-self: center;
  animation: shadow-pop 1s steps(10, end) forwards;
} 
@keyframes shadow-pop {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    transform: translateX(-8px) translateY(8px);
  }
}


div {
  font-family: 'Oxanium', cursive;
  border: 3px solid #4FB477;
  font-size: 10vmin;
  text-align: center;
  vertical-align: middle;
  color: #2E4052;
}